es_CdT_1_3.dtd

<!ELEMENT TEI (header, facsimile?, text+)>
<!ELEMENT text (#PCDATA|seg)>
<!ATTLIST header type CDATA #FIXED "intestazione">
<!ATTLIST header lang NMTOKEN #IMPLIED>
<!ATTLIST facsimile source #FIXED>
<!ATTLIST facsimile source ref IDREFS #IMPLIED>
<!ATTLIST text id ID #REQUIRED>
<!ATTLIST text type CDATA #IMPLIED>